{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "react/require-default-props": [0],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "object-curly-newline": 0,
    "function-paren-newline": 0,
    "max-len": [0],
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },

  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "./src"
        ]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "navigator": true
  },
  "env": {
    "jest": true,
    "browser": true
  }
}
